{
  "file": 1,
  "format": 1
}{
  "port": {{ external_port }},
  "enabled_plugins": [],
  "theme": "gray",
  "show_sidebar": true,
  "sidebar_show_zero": false,
  "https": false,
  "sessions": {},
  "base": "/",
  "interface": "0.0.0.0",
  "show_session_speed": false,
  "first_login": false,
  "session_timeout": 3600,
  "default_daemon": "",
  "sidebar_multiple_filters": true
}
