server {
    server_name candles.amaranta.house;

    location /admin {
        include proxy_params;
        proxy_pass http://127.0.0.1:6969/admin;
    }

    location /api {
        include proxy_params;
        proxy_pass http://127.0.0.1:6969/api;
    }

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:42069;
    }
}
