server {
    server_name net-worth.{{ server_name }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /var/www/net-worth;
    }

    location / {
        include proxy_params;
        proxy_pass http://localhost:8000;
    }

    proxy_read_timeout 600s;
}
