[Unit]
Description=Amaranta Candles Server Userspace Container
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=30
RuntimeMaxSec=43200

ExecStartPre=-/usr/bin/podman rm -f amaranta-candles-server
ExecStartPre=-/usr/bin/podman rm --storage amaranta-candles-server
ExecStartPre=/usr/bin/rm -f %t/%n-pid %t/%n-cid
ExecStart=/usr/bin/podman run \
  -a stdout -a stderr \
  --cgroups no-conmon \
  --conmon-pidfile %t/%n-pid \
  --cidfile %t/%n-cid \
  -e allowed_hosts='{{ allowed_hosts }}' \
  -e deployment_mode='{{ deployment_mode }}' \
  -e secret_key='{{ secret_key }}' \
  -e sql_engine='{{ sql_engine }}' \
  -e sql_database='{{ sql_database }}' \
  -e sql_user='{{ sql_user }}' \
  -e sql_password='{{ sql_password }}' \
  -e sql_host='{{ sql_host }}' \
  -e sql_port='{{ sql_port }}' \
  -e ui_username='{{ ui_username }}' \
  -e ui_password='{{ ui_password }}' \
  -e ui_email='{{ ui_email }}' \
  --network host \
  -v {{ external_static_path }}:{{ server_internal_static_path }} \
  --name amaranta-candles-server docker.pkg.github.com/banool/amaranta_candles/amaranta_candles_server:latest

ExecStop=/usr/bin/podman rm -f --cidfile %t/%n-cid -t 45
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid

PIDFile=%t/%n-pid
KillMode=none

[Install]
WantedBy=multi-user.target default.target
