[Unit]
Description=Amaranta Candles UI Userspace Container
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=30
RuntimeMaxSec=43200

ExecStartPre=/usr/bin/rm -f %t/%n-pid %t/%n-cid
ExecStart=/usr/bin/podman run \
  -a stdout -a stderr \
  --cgroups no-conmon \
  --conmon-pidfile %t/%n-pid \
  --cidfile %t/%n-cid \
  --publish 127.0.0.1:42069:80 \
  --name amaranta-candles-ui amaranta_candles_ui:latest

ExecStop=/usr/bin/podman rm -f --cidfile %t/%n-cid -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid

PIDFile=%t/%n-pid
KillMode=none

[Install]
WantedBy=multi-user.target default.target
