[Unit]
Description=Net Worth Podman Userspace Container
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=30
RuntimeMaxSec=43200

ExecStartPre=-/usr/bin/podman rm -f net-worth
ExecStartPre=-/usr/bin/podman rm --storage net-worth
ExecStartPre=/usr/bin/rm -f %t/%n-pid %t/%n-cid
ExecStart=/usr/bin/podman run \
  -a stdout -a stderr \
  --cgroups no-conmon \
  --conmon-pidfile %t/%n-pid \
  --cidfile %t/%n-cid \
  -e allowed_hosts='{{ allowed_hosts }}' \
  -e deployment_mode='{{ deployment_mode }}' \
  -e secret_key='{{ secret_key }}' \
  -e sql_engine='{{ sql_engine }}' \
  -e sql_database='{{ sql_database }}' \
  -e sql_user='{{ sql_user }}' \
  -e sql_password='{{ sql_password}}' \
  -e sql_host='{{ sql_host}}' \
  -e sql_port='{{ sql_port}}' \
  -e robinhood_username='{{ robinhood_username }}' \
  -e robinhood_password='{{ robinhood_password }}' \
  -e robinhood_2fa_barcode='{{ robinhood_2fa_barcode }}' \
  -e personal_capital_email='{{ personal_capital_email }}' \
  -e personal_capital_password='{{ personal_capital_password }}' \
  -e ui_username='{{ ui_username }}' \
  -e ui_password='{{ ui_password }}' \
  -e ui_email='{{ ui_email }}' \
  -e coinmarketcap_api_key='{{ coinmarketcap_api_key }}' \
  --network host \
  -v /home/daniel/.ssh:/root/.ssh \
  --name net-worth quay.io/banool/net-worth:latest

ExecStop=/usr/bin/podman rm -f --cidfile %t/%n-cid -t 45
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid

KillMode=none
PIDFile=%t/%n-pid

[Install]
WantedBy=multi-user.target default.target
