[Unit]
Description=Pants Podman Userspace Container
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
RestartSec=30
RuntimeMaxSec=43200

ExecStartPre=-/usr/bin/podman rm -f pants
ExecStartPre=-/usr/bin/podman rm --storage pants
ExecStartPre=/usr/bin/rm -f %t/%n-pid %t/%n-cid
ExecStart=/usr/bin/podman run \
  -a stdout -a stderr \
  -e PANTS_PAGES_ROOT='{{ internal_pages_directory }}' \
  -e PANTS_SITE='https://pants.{{ server_name }}' \
  -e PANTS_CONSUMER_KEY='{{ consumer_key }}' \
  -e PANTS_ACCESS_TOKEN='{{ access_token }}' \
  -e PANTS_STATIC_ROOT='static' \
  -e ROCKET_PORT='{{ internal_port }}' \
  -e ROCKET_ADDRESS='0.0.0.0' \
  -e ROCKET_SECRET_KEY='{{ rocket_secret_key }}' \
  --cgroups no-conmon \
  --conmon-pidfile %t/%n-pid \
  --cidfile %t/%n-cid \
  --publish 127.0.0.1:{{ external_port }}:{{ internal_port }} \
  -v {{ external_pages_directory }}:{{ internal_pages_directory }} \
  --name pants quay.io/banool/pants:latest

ExecStop=/usr/bin/podman rm -f --cidfile %t/%n-cid -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid

PIDFile=%t/%n-pid
KillMode=none

[Install]
WantedBy=multi-user.target default.target
