#!/bin/bash

set -e

rm -f /tmp/amaranta_candles_backup.sql

mysqldump {{ sql_database }} > /tmp/amaranta_candles_backup.sql

rclone copy /tmp/amaranta_candles_backup.sql gdrive:backups/

echo
echo 'Successfully backed up {{ sql_database }}!!!' 
