
[Unit]
Description=Net Worth Podman Container
After=network.target

[Service]
Type=simple
TimeoutStartSec=10s
ExecStartPre=-/usr/bin/podman rm "net-worth"
User={{ unix_user }}

ExecStart=/usr/bin/podman run -dt --publish 127.0.0.1:{{ net_worth.external_port }}:{{ net_worth.internal_port }} --name net-worth net-worth \
  -e allowed_sites='{{ net_worth.allowed_sites }}' \
  -e deployment_mode='{{ net_worth.deployment_mode }}' \
  -e secret_key='{{ net_worth.secret_key }}' \
  -e sql_engine='{{ net_worth.sql_engine }}' \
  -e sql_database='{{ net_worth.sql_database }}' \
  -e sql_user='{{ net_worth.sql_user }}' \
  -e sql_password='{{ net_worth.sql_password}}' \
  -e sql_host='{{ net_worth.sql_host}}' \
  -e sql_port='{{ net_worth.sql_port}}' \
  -e robinhood_username='{{ net_worth.robinhood_username }}' \
  -e robinhood_password='{{ net_worth.robinhood_password }}' \
  -e robinhood_2fa_barcode='{{ net_worth.robinhood_2fa_barcode }}' \
  -e personal_capital_email='{{ net_worth.personal_capital_email }}' \
  -e personal_capital_password='{{ net_worth.personal_capital_password }}' \
  -e ui_username='{{ net_worth.ui_username }}'

ExecReload=-/usr/bin/podman stop "net-worth"
ExecReload=-/usr/bin/podman rm "net-worth"
ExecStop=-/usr/bin/podman stop "net-worth"
Restart=always
RestartSec=30

[Install]
