
[Unit]
Description=Net Worth Podman Container
After=network.target

[Service]
Type=simple
TimeoutStartSec=10s
ExecStartPre=-/usr/bin/podman rm "net-worth"
User={{ unix_user }}

ExecStart=/usr/bin/podman run -t -a stdout -a stderr \
  -e allowed_sites='{{ allowed_sites }}' \
  -e deployment_mode='{{ deployment_mode }}' \
  -e secret_key='{{ secret_key }}' \
  -e sql_engine='{{ sql_engine }}' \
  -e sql_database='{{ sql_database }}' \
  -e sql_user='{{ sql_user }}' \
  -e sql_password='{{ sql_password}}' \
  -e sql_host='{{ sql_host}}' \
  -e sql_port='{{ sql_port}}' \
  -e robinhood_username='{{ robinhood_username }}' \
  -e robinhood_password='{{ robinhood_password }}' \
  -e robinhood_2fa_barcode='{{ robinhood_2fa_barcode }}' \
  -e personal_capital_email='{{ personal_capital_email }}' \
  -e personal_capital_password='{{ personal_capital_password }}' \
  -e ui_username='{{ ui_username }}' \
  -e ui_password='{{ ui_password }}' \
  -e ui_email='{{ ui_email }}' \
  --network host \
  --publish 127.0.0.1:{{ external_port }}:{{ internal_port }} \
  --name net-worth net-worth


ExecReload=-/usr/bin/podman stop "net-worth"
ExecReload=-/usr/bin/podman rm "net-worth"
ExecStop=-/usr/bin/podman stop "net-worth"
Restart=always
RestartSec=30

[Install]
